@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(35,35,85);
}
span{
    font-size: .9rem;
    color:#757373;
}
h6{
    font-size: 1.1rem;
    color:rgb(24, 24, 49);
}
/*navigation*/
nav{
    position: fixed;
    width:100%;
    background-color:azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1vw 8vw;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15) ;
    z-index: 999;
}
nav img{
    width:100px;   
}
nav .navigation{
    display:flex;
}
#menu-btn{
    width:30px;
    height:30px;
    display: none;
}
#menu-close{
    display: none;
}
nav .navigation ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style :none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color:rgb(21,22,77);
    font-size:20px;
    font-weight:600;
    transition:0.3s ease;
}
nav .navigation ul li a:hover{
    color: #fdc93b;
}
#home{
    background-image: linear-gradient(rgba(7,4,56,0.4),rgba(4,3,40,0.8)), url("images/ed4.jpg");
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
#home h2{
    color: #fff;
    font-size: 2.6rem;
    letter-spacing: 1px;
}
#home p{
    color:#fff;
    width: 50%;
    font-size: 1rem;
    line-height: 25px;
}
#home .btn{
    margin-top: 31px;
}
#home a{
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
#home a.blue{
    color:#fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
}
#home a.blue:hover{
    color:black;
    background-color:deepskyblue
}
#home a.yellow{
    color:#fff;
    background-color:green;
    transition: 0.3s ease;
}
#home a.yellow:hover{
    color:black;
    background-color:deepskyblue;
}
#course{
    padding:5vw 8vw 7vw 8vw;
    text-align: center;
    background-color:darkmagenta; 
    color:#fff;

}
#course h1{
    color:#fff;
    font-weight: 500;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
margin-top: 50px;
}
#course .courses{
    text-align: start;
    background-color: azure;
    height: 100%;
    position: relative;
}
#course .courses img{
    width: 100%;
    height:60%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    padding:15px 15px 0 15px;
}
#course .courses .details i {
    color:#fdc93b;
    font-size: .9rem;
}
/*
#course .courses .cost{
    padding:15px, 15px 0 15px;
    
}*/
#course .courses .cost{
    background-color: rgb(106, 6, 246);
    color:black;
    line-height:70px;
    width:70px;
    height:70px;
    text-align: center;
    border-radius: 50%;
    position:absolute;
    right:15px;
    bottom: 120px;
}
#registration{
padding: 8vw 8vw 8vw 8vw;
background-image: linear-gradient(rgba(99,112,160,0.5),rgba(81,90,232,0.5)),url("images/bck.png");
width:100%;
height:100%;
background-position: center;
background-size: cover;
display: flex;

align-items: center;
}
#registration .form{
    width: 40%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input{
    margin:15px 0;
    padding:15px 10px;
    border:2px solid black;
    outline:none;
}


#registration .form a.blue{
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color:#fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
    
}
#registration .form a.blue:hover{
    color:black;
    background-color:deepskyblue;
}
#registration .form .btn{
    margin-top:20px;
}
footer{
    padding:8vw;
   background-color: azure;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;

}
footer h3{
    color:#2c2c2c;
    font-weight:600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color:#2c2c2c;
    padding: 10px 0;
    font-size: 15px;
    transition:0.3s ease;
}
footer li:hover{
    color:chocolate;
    

}
footer p {
    color:#2c2c2c;
}
footer .subscribe{
    margin-top:20px;
}
footer input{
    width:220px;
    padding:15px 12px;
}
footer .subscribe a{
    text-decoration: none;
    font-size: 1rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    
}
footer .subscribe a.blue{
    color:#fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
}
footer .subscribe a.blue:hover{
    color:black;
    background-color:deepskyblue
}
footer .copyright{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    flex-wrap:wrap;
    
}
.pro-links i{
    margin-left:15px;
    font-size: 1.5rem;
    background-color: #5f7185;
    border:1px solid wheat;
    padding:8px;
    color:#fff;
    
}
.pro-links i:hover{
    color:#2c2c2c;
    background-color: #fdc93b;
}
@media (max-width:769px){
    nav{
        padding:15px 20px;
    }
    nav img{
        width:60px;
    }
    #menu-btn{
        
        display:initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul {
        position: absolute;
        top:0;
        right:-200px;
        width: 200px;
        background:rgba(17,20,104,0.45);
        backdrop-filter: blur(4.5px);
        border:1px solid rgba(255,255,255,0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right:0;
    }
    nav .navigation ul li{
           padding:20px 0 20px 40px;
           margin-left:0;
    }
    nav .navigation ul li a{
        color:#fff;
    }
    #home p{
        width:90%
    }
    #home{
     
        padding-top: 0;
    }
       }

    


